body.space-bg {
    background: url("https://media.istockphoto.com/id/157639696/photo/purple-space-stars.jpg?s=612x612&w=0&k=20&c=Y4vLZjD4cI6mxtFd9DoHl2M7rXI5Cp8WYI4YxdpPpqw=") 
    no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}

.login-box {
    width: 350px;
    margin: 120px auto;
    padding: 25px;
    background: rgba(0,0,0,0.6);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    text-align: center;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 20px;
    width: 95%;
    background: #7f5bff;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
